body{
    background: rgb(65,147,145);
    background: linear-gradient(90deg, rgba(65,147,145,1) 12%, rgba(56,56,226,1) 41%, rgba(73,80,213,1) 70%, rgba(0,212,255,1) 100%);
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}
.resolucion{
    width: 99%;
    text-align: center;
}
@media (max-width: 767px){
    .PC{
        display: none;
    }
    footer{
        text-align: center;
    }
    a{
        text-decoration: none;
    }
}
@media (min-width: 991px){
    .celular{
        display: none;
       
    }
}
main{
    width: 730px;
    margin: 100px auto 50px;
    display: flex;
    align-items: center;
}
.section1{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}
h1{
    text-align: center;
}
button {
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: black;
    font-weight: bold;
    border-radius: 10px; 
}
button:hover{
    cursor:pointer
}
.section2{
    background-color: rgba(255, 255, 255, 0.4);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 250px;
    height: 400px;
    padding: 0px 20px;
}
.estadisticas{
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}
footer{
    text-align: center;
}
a{
    text-decoration: none;
}